@import 'vanilla-framework';
@include vf-base;

@include vf-p-card;
@include vf-p-grid;
@include vf-u-clearfix;

.p-card__header{
    border-radius: 2px;
    padding: 1rem 1rem 0.5rem;
    border-top: 3px solid #A87CA0;
}
.p-card__footer {
    border-top: 1px dotted #d9d9d9;
    font-size: 0.875rem;
    margin: auto 0.5rem 0;
    max-width: inherit;
    padding: 1rem 0.5rem;
}

.p-card__content {
    border-top: 1px dotted #d9d9d9;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0.5rem;
    padding: 1rem 0.5rem 0.5rem;
}

.p-card--highlighted{
    padding: 0;
    display: flex !important;
    flex-direction: column;
}